.notes-editor-container {
    display: flex;
}

.monaco-container {
    flex: 1;
    height: 100%;
    padding: 10px;
    resize: none;
    border-right: 2px solid red;
}

.prettified-notes-container {
    font-family: monospace;
    font-size: 10;
    flex: 1;
    text-align: left;
    margin-left: 8px;
}